mixin balance_list(name, balances)
  - var sum_of_balances = 0;
  - each balance in balances
    - sum_of_balances += balance.amount;

  li(data-role='list-divider')= name
    span.ui-li-count= sum_of_balances

  - each balance in balances
    li
      // Better way to do this?
      a(href='/person/#{balance.counterparty.facebook_id}')
        img(src='https://graph.facebook.com/#{balance.counterparty.facebook_id}/picture')
        h3 #{balance.counterparty.name}

        p.ui-li-aside
          strong #{balance.amount}

- var balances_you_owe = [];
- var balances_owed = [];
- each balance in balances
  - if (balance.amount < 0)
    - balances_you_owe.push(balance)
  - else
    - balances_owed.push(balance)

div(data-role='page', data-theme='a')
  div(data-role='header')
    h1 Balances

  div(data-role='content')
    ul(data-role='listview')
      mixin balance_list('Owed', balances_owed)
      mixin balance_list('You Owe', balances_you_owe)