include mixins

div(data-role='page', data-theme='a', data-add-back-btn='true')
  div(data-role='header', data-theme='a', data-position='fixed')
    h1= transaction.comment

  - var valueToCurrentUser = transaction.valueToPerson(currentUser)

  div.edit(data-role='content', data-theme='a')
    p= transaction.comment

    p
      mixin balance(valueToCurrentUser)

    - var counterparty = transaction.counterparty(currentUser)
    - var formattedDate = dateFormat(transaction.date, 'mm/dd/yyyy h:MM TT')
    
    if transaction.valueToPerson(currentUser) > 0
      p Owed to you by #{counterparty.name} (#{formattedDate})
    else
      p Owed to #{counterparty.name} (#{formattedDate})

    if !transaction.paid && valueToCurrentUser > 0
      a(href='/pay/#{transaction._id}', data-role='button', data-icon='check', data-direction='reverse') Mark as Paid
      a(href='/delete/#{transaction._id}', data-role='button', data-icon='delete', data-direction='reverse') Delete