mixin balance_list(name, balances)
  li(data-role='list-divider')= name
    span.ui-li-count= balances.length

  - each balance in balances
    li
      // Better way to do this?
      a(href='/pay/#{balance.counterparty.facebook_id}')
        h3 #{balance.counterparty.name}

        p.ui-li-aside
          strong #{balance.amount}

- var balances_you_owe = [];
- var balances_you_are_owed = [];
- each balance in balances
  - if (balance.amount > 0)
    - balances_you_owe.push(balance)
  - else
    - balances_you_are_owed.push(balance)

ul(data-role='listview')
  mixin balance_list('Owed', balances_you_are_owed)
  mixin balance_list('You Owe', balances_you_owe)