include mixins

div(data-role='page', data-theme='a', data-add-back-btn='true')
  div(data-role='header', data-theme='a', data-position='fixed')
    h1= person.name
      a.ui-btn-right(href='/person/#{person.facebook_id}/add', data-role='button', data-icon='plus',
      data-transition='slideup') Add

  div(data-role='content')
    ul(data-role='listview')
      li(data-role='list-divider') Balance
        span.ui-li-count
          mixin balance(balance)
        
      - each transaction in transactions
        li
          a(href='/edit/#{transaction._id}')
            h3
              mixin balance(transaction.valueToPerson(user))
            p= transaction.comment
            p.ui-li-aside= dateFormat(transaction.date, 'mm/dd/yyyy h:MM TT')

  div(data-role='footer', data-theme='a', data-position='fixed')
    &nbsp;